* {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f9f9f9;
}
.container-menu {
  display: flex;
  flex-flow: column wrap;
  background-color: #fefefe;
  border-bottom: 3px solid #fefefe;
}
.text-sucursales {
  padding-left: 5%;
}

.text-sucursales h1 {
  font-size: 16px;
}
.logo {
  display: flex;
  flex-flow: row-reverse;
  padding: 3%;
}
.menu {
  padding-left: 4%;
  height: 6rem;
}
.department {
  width: 265px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.search-input {
  width: 455px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  outline: none;
}

.logout-text {
  color: #242424;
  font-weight: 700;
  float: right;
}
.material-icons-outlined {
  vertical-align: middle;
}
.btn-logout {
  background-color: transparent;
  border: 0;
}

/* grid */

/* media query */

@media screen and (max-width: 425px) {
  .text-sucursales {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu {
    height: 30vh;
  }
  .search-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  .department {
    width: 82%;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
  }
  .search-input {
    width: 82%;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    outline: none;
  }
  .btn-search {
    width: 127px;
    height: 32px;
    border-radius: 5px;
    background-color: #e4002b;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #e4002b;
    display: initial;
  }

  .mobile-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .text-sucursales {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .department {
    width: 82%;
  }
  .search-input {
    width: 80%;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .menu {
    height: 30vh;
  }
  .text-sucursales {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .search-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  .btn-search {
    width: 120px;
    height: 32px;
    border-radius: 5px;
    background-color: #e4002b;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #e4002b;
    display: initial;
  }
  .department {
    width: 90%;
  }
  .search-input {
    width: 90%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .mobile-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .search-group {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    width: 70%;
    align-items: center;
  }
  .department {
    width: 30%;
    height: 40px;
  }
  .search-input {
    width: 220px;
  }
  .btn-search {
    width: 120px;
    height: 32px;
    border-radius: 5px;
    background-color: #e4002b;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #e4002b;
    display: initial;
  }
  .logout {
    padding-left: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .search-group {
    display: inline-flex;
    align-items: baseline;
    justify-content: space-around;
    width: 75%;
  }
  .btn-search {
    width: 15%;
    height: 32px;
    border-radius: 5px;
    background-color: #e4002b;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #e4002b;
    display: initial;
  }
  .search-input {
    width: 50%;
  }
  .department {
    width: 30%;
  }
  .logout {
    padding-right: 3%;
  }
}
