<div class="container-menu">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="logo" />
  </div>
  <div class="text-sucursales">
    <h1>Sucursales</h1>
  </div>
  <div class="menu mobile-menu">
    <div class="search-group">
      <select class="department">
        <option value="2" *ngFor="let item of departments">
          {{ item.name }}
        </option>
      </select>
      <input type="text" class="search-input" placeholder="Buscar..." />
      <button class="btn-search">BUSCAR</button>
    </div>
    <div class="logout">
      <button class="btn-logout">
        <label class="material-icons-outlined"> logout </label>
        <label>Cerrar sesión</label>
      </button>
    </div>
  </div>
</div>
