<div class="grid-layout">
  <div
    class="card-container grid-card our-scrollbar"
    *ngFor="let item of sucursal"
  >
    <div class="card-container__card">
      <div class="card__info">
        <p class="info">{{ item.location }}</p>
        <p class="info">{{ item.municipality }}</p>
        <p class="info">{{ item.address }}</p>
      </div>
      <div class="card_icon-status">
        <img src="../../assets/images/store-inactive.svg" alt="" />
      </div>
    </div>
  </div>
</div>
