* {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  overflow: auto;
}

.grid-card {
  display: grid;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 50rem));
}

.card-container__card {
  width: 100%;
  height: 99%;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #242424;
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0 3px 6px #65656500;
}
.info {
  line-height: 2;
}

.card__info {
  width: 70%;
  height: 60%;
  overflow: hidden;
}

.card_icon-status {
  width: 10%;
  height: 60%;
}

/* media query */

@media screen and (max-width: 425px) {
  .grid-layout {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
  }
  .grid-card {
    grid-auto-rows: 10rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .grid-layout {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 100%);
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .grid-layout {
    display: grid;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (min-width: 1024px) {
  .grid-layout {
    display: grid;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 33.3%);
  }
}
